---

---

<main>
    <div class="contact block" id="block4">
        <svg class="main_svg">
            <path 
            d="M 50 50 L 50 266"
            stroke="black" stroke-width="1" fill="black"/>
            <path 
            d="M 50 100 L 350 100"
            stroke="black" stroke-width="1" fill="black"/>
        </svg>
        <h1 class="Name">Contact Me</h1>
        </div>



        <div class="content">
            <div class="contactpoint">
                <p>Instagram</p>
                <p>Github</p>
                <p>Linkedin</p>
            </div>
            <svg class="divider">
                <path 
                d="M 0 0 L 0 820"
                stroke="black" stroke-width="1" fill="black"/>
            </svg>
            <div class="mailer"></div>
        </div>
</main>

<style>
    .Name{
    position: absolute;
    top: 6%;
    left: 4.5%;
    }
    .content{
        position: absolute;
        left:5%;
        top:5%;
        display: flex;
        align-items: center;
        width: 90%;
        height: 90%;
    }
    .divider{
        position: absolute;
        left: 50%;
        top: 5%;
        width:1px;

    }
    .divider {
        height: 872px;
    }
    .contactpoint{
        
    
    }
</style>