---

---

<main>
    <div class="aboutme" >
        <svg class="path">
            <path 
            d="M 50 50 L 50 650"
            stroke="black" stroke-width="1" fill="black"/>
            <path 
            d="M 50 100 L 350 100"
            stroke="black" stroke-width="1" fill="black"/>
        </svg>
        <img class="img" src="" alt="">
        <h1 class="Name">About me</h1>
        <button class="NavButton extra">
            <svg class="Extra_path">
                <path 
                d="M 0 0
                   L 50 30 
                   L 100 0" stroke="grey" stroke-width="1" fill="transparent"/>
            </svg>
        </button>

        <p class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi voluptatem inventore aperiam explicabo hic, non dicta? Distinctio eveniet qui modi assumenda reprehenderit porro, tenetur, dolore tempora mollitia ad blanditiis.
        </p>
        <div class="skilltab">
            <h2 class="skills">Skills</h6>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
        </div>
        </div>
</main>

<style>
    .path{
        height: 457px;
    }
    .Name{
    position: absolute;
    top: 6%;
    left: 4.5%;
    }
    .info{
        height: 200px;
        width: 400px;
        position: absolute;
        top: 20%;
        left: 5%;
    }
    .NavButton{
        width: 104px;
        height:34px;
        position: absolute;
        left: 46.5%;
        bottom: 2%;
    }
    .Extra_path{
        width: 100px;
        height: 50px;
    }
    .skilltab{
        position: absolute;
        top: 51%;
        left: 5%;
        display:flex;
    }
</style>