---

---

<main>
<h1>Education</h1>
<ul>
    <li>
        <p>2022 - 2026, ROC Kasteeldreef > Webtechnology</p>
    </li>
</ul>
<h1>
    Work experience
</h1>
<ul>
    <li>
        <p>15/07/2023 - 27/08/2023, Tirage Art > Allround Employee</p>
    </li>
    <li>
        <p>11/09/2023 - Now, Albert Heijn > Stock clerk</p>
    </li>
</ul>
</main>

<style>

</style>