---

---
<main>
    <div class="projects">
        <svg class="main_svg">
            <path 
            d="M 50 50 L 50 100"
            stroke="black" stroke-width="1" fill="black"/>
            <path 
            d="M 50 100 L 350 100"
            stroke="black" stroke-width="1" fill="black"/>
        </svg>
        <h1 class="Name">Projects</h1>
    </div>
</main>

<style>
    .Name{
    position: absolute;
    top: 6%;
    left: 4.5%;
    }
</style>