---

---

<main>
    <h1 class="Name">Dylan van der Ven</h1>
    <button class="hidden bottom" id="button">Show Breaking bad quote</button>
</main>

<script>
    function ShowQuote() {
        fetch('https://api.breakingbadquotes.xyz/v1/quotes')
        .then(response => response.json())
        .then((data) => { 
            let quote = data[0].quote;
            let author = data[0].author;
            alert(quote + " - " + author);
        });    
    }
    let btn = document.getElementById('button');
    btn!.addEventListener('click', ShowQuote);
    

    
</script>
<style>
    @keyframes coolor{
        0%{
            color: red
        }
        40%{
            color: green;
        }
        80%{
            color: blue;
        }
        100%{
            color: red;
        }
        
    }
    .em2{
        font-size: 3em;
        width: 75vw;
    }
    .color{
        animation: coolor 7s infinite;
    }
    .Size{
        font-size: 8em;
        width: 75vw;
    }
    .PC2{
        position: absolute;
        top: 53%;
        left: 56%;
        transform: translate(-50%, -50%);
    }
    .PC{
        position: absolute;
        top: 35%;
        left: 52%;
        transform: translate(-50%, -50%);
    }
.Name{
    position: absolute;
    top: 6%;
    left: 4.5%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 5px;
    }
.hidden{
    border:0;
    background: #F9F6FA;
    color: #d9d9d9;
    }
.hidden:hover{
    color: #929292;
    border-bottom: 1px solid #929292;
    }
.bottom{
    position: absolute;
    bottom: 5%;
    left: 5%;
        }
.main_svg{
    position: absolute;
    top: 2.5%;
    left: 1.5%;
}
</style>