---

---
<script src="../modules/mail.mjs" />
<script src="../modules/copyToClipboard.js" />
<main>
    <div class="contact block" id="block4">
        
        <h1 class="Name">Contact Me</h1>

        <a href="https://github.com/Dylan-Ven">
            <article class="H100 W500 ArtGrid Art1">
                <p class="absolute LeftSmall smaller">GitHub Profile</p>
                <div class="Text1">
                    <h3 class="Head">Dylan-Ven</h3>
                    <p>View Dylan-Ven's profile now!</p>
                </div>
                <img class="size" id="IMG" src="https://avatars.githubusercontent.com/u/115562417?v=4" alt="photo">
                </article>
        </a>
        <a href="https://www.linkedin.com/in/dylan-van-der-ven-766a94240/">
            <article class="H100 W500 ArtGrid Art2">
                
                <div class="Text1">
                    <p class="absolute card2 smaller">LinkedIn Profile</p>
                    <h3 class="Head">Dylan van der Ven</h3>
                    <p>View Dylan's profile now!</p>
                </div>
                <img class="size" id="IMG" src="https://media.licdn.com/dms/image/D4E03AQGTW8kOkkTC3Q/profile-displayphoto-shrink_200_200/0/1711094242742?e=1717027200&v=beta&t=3MyP4QQ0SPL_D0QngWJJRWqcgw-a9zq6ool0P2m0Wp4" alt="photo">
                </article>
        </a>
        <button class="hidden pos" id="copy">Contact me by phone!</button>
        <svg class="divider">
            <path 
            d="M 0 0 L 0 820"
            stroke="black" stroke-width="1" fill="black"/>
        </svg>
        <!-- <div class="mailer">
            <input type="email" id="Mail" placeholder="Email" class="H40 W900">
            <input type="text" id="Subject" placeholder="Subject" class="H40 W900">
            <textarea name="Text" id="Text" class="H180 W900" placeholder="Type your message here..."></textarea>
            <button id="send">Send Mail</button>
        </div> -->
</main>

<style>
    .Name{
    position: absolute;
    top: 6%;
    left: 4.5%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 5px;
    }
   
    .contactpoint{
        height: 650px;
    }
    .divider{
        position: absolute;
        left: 50%;
        top: 5%;
        width:1px;
        height: 872px;
    }
    .H100{
        height: 100px;
    }
    .W500{
        width: 500px;
    }
    .ArtGrid{
        transition: background 0.5s ease;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "Text Text Img";
        background: #F7F6F3;
        border-left: 3px solid black;
        border-radius: 5px;
        padding-left:20px;
    }
    .ArtGrid:hover{
        transition: background 0.5s ease;
        background: #dfdedd
    }
    .size{
        width: 85px;
        height: 85px;
        border-radius: 5%;
    }

    .Head{
        width: 200px;
    }
    #IMG{
        grid-area: Img;
        justify-self: center;
        align-self: center;
        width: 85px;
        height: 85px;
    }
    .Text1{
        grid-area: Text;
    }
    .toBackground{
        z-index: 0;
    }
    .Art1{
        position: absolute;
        top: 40%;
        left: 15%;
    }
    .Art2{
        position: absolute;
        top: 60%;
        left: 15%;
    }
    .absolute{
        position: absolute;
    }
    .LeftSmall{
        left: 4%;
    }
    .smaller{
        font-size: 10px;
    }
    .hidden{
        border:0;
        background: none;
        color: #777777;
    }
    .hidden:hover{
        border-bottom: 1px solid #777777;
        cursor: pointer;
    }
    .pos{
        position: absolute;
        top: 13.5%;
        left: 4.5%;
    }
    .H40{
        height: 40px;
    }
    .H180{
        height: 180px;
    }
    .W100{
        width: 100%;
    }
    .mailer{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 20%;
        right: 2%;
        width: 47.5%;
    }
</style>