---

---

<main>
    <div class="aboutme" >
        <svg class="path">
            <path id="path1"
            d="M 50 50 L 50 650"
            stroke="black" stroke-width="1" fill="black"/>
            <path 
            d="M 50 100 L 350 100"
            stroke="black" stroke-width="1" fill="black"/>
        </svg>
        <img class="img" src="" alt="">
        <h1 class="Name">About me</h1>
        <a href="/aboutme2">
            <button class="NavButton">
                <svg class="Extra_path">
                    <path class="path"
                    d="M 0 0
                    L 50 30 
                    L 100 0" stroke="grey" stroke-width="1" fill="transparent"/>
                </svg>
            </button>
        </a>
        <p class="info">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo expedita veniam eum dignissimos dicta porro, modi nostrum voluptate quam iure iusto dolore exercitationem ut obcaecati. Fugiat quae incidunt deleniti dolorem.
        </p>
        <div class="skilltab">
            <h2 class="skills">Skills</h6>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="skill">
                    <img src="" alt="">
                    <p></p>
                </div>
        </div>
        </div>
</main>

<style>
    @keyframes path1{
        0% {
            d: path("M 50 50 L 50 100");
        }
        100% {
            d: path("M 50 50 L 50 650")
        }
    }
    #path1{
        animation: path1 2s;
    }
    .path{
        height: 457px;
    }
    .Name{
    position: absolute;
    top: 6%;
    left: 4.5%;
    }
    .info{
        height: 200px;
        width: 400px;
        position: absolute;
        top: 20%;
        left: 5%;
    }
    .NavButton{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 104px;
        height:34px;
        position: absolute;
        left: 46.5%;
        bottom: 2%;
    }
    .NavButton:hover .path{
        stroke: black;
    }
    .Extra_path{
        width: 100px;
        height: 50px;
    }
    .skilltab{
        position: absolute;
        top: 51%;
        left: 5%;
        display:flex;
    }
</style>